.page-id-1294

#contact_info input {
	margin: 0.5em 0 0 0.5em;
	padding: 4px;
	border: 1px solid #e5ebea;
}

table {
	margin: 0.5em 0 0 0;
	border-collapse: separate;
	border-spacing: 2px;
}

table th.row_header {
	padding: 4px;
	color: #fef8ec;
	background-color: #003831;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	vertical-align: middle; 
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px; }

table td {
	padding: 4px;
	vertical-align: bottom;
	border: 1px solid #e5ebea;
}

table td.create-shift {
	background-color: #fef8ec;
}

table td.upcoming-shift {
	background-color: #fefefe;
}

table ul {
	margin: 2px 2px 2px 2px;
	list-style: none;
}

table button {
	margin: 2px;
	color: #fef8ec;
	background-color: #003831;
	border: none;
	border-radius: 4px;
	line-height: 1.2;
}

table button.create {
	margin-top: 4px;
	padding: 8px 12px 7px 12px;
}

table button.join {
	margin-top: 8px;
	padding: 8px 12px 7px 12px;
}

table ul.shift-create {
	line-height: 2.5;
}

table ul.shift-info {
	line-height: 1.5;
}
